@charset "UTF-8";

/*共通*/
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-size: 62.5%;
    text-align: center;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    color: #443322;
    
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #443322;
}


header {
    padding: 3% 15% 20%;
}

h1 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
    line-height: 0;
}

h1 img {
    width: 100%;
}

h1 a {
    display: block;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header ul a {
    font-size: 1.7rem;
}

footer {
    background-color: #443322;
    color: white;
    font-size: 0.3rem;
    padding: 3%;
    
}

/* #home */

#home {
    background: url(img/main-bg02.jpg) top center / cover no-repeat; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#home footer {
    margin-top: auto;
}

#home main h2 {
    padding: 0 10%;
    font-family: 'Philosopher', sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 5%;
   
}

#home main p {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 7%;
    line-height: 1.5;
    padding: 0 5%;
}

#home button {
    font-family: 'Gothic A1', sans-serif;
    color: white;
    background-color: #00bbdd;
    font-size: 1.3rem;
    padding: 3% 8%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}




/* #news #menu #contact 共通部分*/

#news nav,
#menu nav,
#contact nav {
    margin-bottom: 10%;
}

#news h2,
#menu h2,
#contact h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
    font-weight: lighter;

}

#news main,
#menu main,
#contact header,
#contact .wrap {
    padding: 5% 3% 10%;
    
}

/* #news */
#news header {
    background: url(img/news-bg.jpg) center center / cover no-repeat;
}



#news article,
#news section {
    margin-bottom: 8%;
    text-align: left;
}

#news article p,
#news section p {
    text-align: left;
}

#news article .box01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;

}

#news article .box02 {
    width: 80%;
    padding-top: 2%;
}

#news article .box02 h3 {
    text-align: left;
    margin-bottom: 5%;
}

#news article .box02 .category-item {
    display: flex;
    
}

#news article .box02 .category-item .text01 {
    margin-right: 3%;
    position: relative;
}

#news article .box02 .category-item .text01::after {
    content: ':';
    display: inline-block;
    position: absolute;
    left: 105%;
}

#news article .date{
    width: 15vw;
    height: 15vw;
    
    background-color: #00bbdd;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#news article .date .text01 {
    font-size: 1rem;
    position: relative;
    padding-bottom: 5%;
    text-align: center;
    
}

#news article .date .text02 {
    font-size: 0.8rem;
    padding-top: 5%;
    text-align: center;
}
#news article .date::after {
    content: '';
    display: block;
    border-bottom: 0.5px solid white;
    width: 60%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#news article h3 {
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
    font-weight: lighter;
}

#news article .top-wrapper,
#news article img,
#news article .paragraph01,
#news article .paragraph02 {
    margin-bottom: 5%;
}

#news section h3,
#news section li {
    text-align: left;
}

#news section li a:hover {
    color: #00bbdd;
}

#news section h3 {
    font-size: 1.3rem;
    padding-bottom: 1.3%;
    border-bottom: #00bbdd solid 1px;
    font-weight: 200;
    margin-bottom: 1.5%;
}

#news section li a,
#news section p {
    padding: 0 1.5%;
}

#news section li {
    padding: 1.3% 0;
    border-bottom: #d0d0d0 solid 0.5px;
}

/* #menu */
#menu h2 {
    margin-bottom: 7%;
}

#menu header {
    background: url(img/menu-bg.jpg) center center / cover no-repeat;
}

#menu p {
    font-size: 1rem;
}

#menu main li {
    margin-bottom: 7%;

}

#menu main li p {
    text-align: left;
}

/* #contact */

#contact {
    /* background: url(img/contact-bg.jpg) left bottom /  no-repeat; */
    background-image: url(img/contact-bg.jpg);
    background-position: center -20%;
    min-width: 100vw;
    min-height: 100vh;

}

#contact header {
    padding: 3% 15% 0;
}

#contact h2 {
    margin-bottom: 5%;
}

#contact main * {
    text-align: left;

}

#contact main {
    padding-bottom: 0;
}

#contact main p,
#contact main dt,
#contact main dd,
#contact h3 {
    font-size: 1.6rem;
}

#contact .big-wrapper {
    padding-bottom: 0;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form dt {
    margin-bottom: 2%;
}

#contact form dd {
    margin-bottom: 5%;
}

#contact form input,
#contact form textarea {
    background-color: rgba(255, 255, 255, 0.3);
    border: white solid 1px;
    border-radius: 3%;
    width: 100%;
}

#contact form input {
    height: 3rem;
}

#contact form button {
    text-align: center;
    width: 30%;
    font-family: 'Gothic A1', sans-serif;
    color: white;
    background-color: #00bbdd;
    font-size: 1.3rem;
    padding: 3% 8%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    
}

#contact .location {
    margin-bottom: 0;
}

#contact .sns-wrapper {
    padding-bottom: 3%;
    background-color: #FAF7F0;;
}

#contact h3 {
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 2%;
    border-bottom: #00bbdd solid 2px;
    margin-bottom: 4%;
}

#contact .location dl {
    margin-bottom: 4%;
}

#contact .item {
    display: flex;
    align-items: center;
}

#contact .location dt,
#contact .location dd {
    margin-bottom: 2%;
}

#contact .location dt {
    margin-right: 1.5rem;
    position: relative;
}

#contact .location dt::after {
    content: ":";
    display: inline-block;
    position: absolute;
    margin: 0 0.5rem;

}

#contact section {
    margin-bottom: 10%;
}

#contact .location {
    background-color: white;
}

/*PC*/
@media screen and (min-width: 1025px) {
    /*共通*/

    header {
        padding: 3% 10% 15%;
        
        
    }

    header .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    h1 {
        line-height: 0;
        width: 20%;
        margin: 0;
    }
    
    header nav {
        width: 30%;
    }
    
    header ul a {
        font-size: 1.5rem;
    }

    footer {
        font-size: 1.8rem; 
    }

    /* #home */
    #home {
        background: url(img/main-bg.jpg) center / cover no-repeat;
        min-height: 100vh;
    }
   
    #home header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5%;
    }

    
    #home main {
        padding: 0 15%;
    }
    
    #home main h2 {
        padding: 0;
        font-size: 7rem;
        margin-bottom: 1.5%;
    }
    
    #home main p {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 1.8rem;
        padding: 0;
        margin-bottom: 3%;
    }
    
    #home button {
        font-size: 2rem;
        padding: 2% 4%;
    }
    
    /* #news #menu #contact 共通部分*/
 
    #news header,
    #menu header,
    #contact header {
            padding: 3% 10% 5%;
            
        }

    #news main,
    #menu main {
        padding: 5% 10%;
    }

    #news header .wrapper,
    #menu header .wrapper {
        margin-bottom: 5%;
    }

    #news nav,
    #menu nav,
    #contact nav {
        margin-bottom: 0;
    }

    #news h2,
    #menu h2,
    #contact h2 {
        font-size: 10rem;
    }

    /* news */

    #news main {
        display: flex;
        justify-content: space-between;
    }

    #news article {
        width: 73%;
    }

    #news article .box02 .category-item a {
        font-size: 1.5rem;
    }


    #news aside {
        width: 25%;
    }

    #news section {
        margin-bottom: 20%;
    }

    #news article .box02 .category-item .text01::after {
        content: ':';
        display: inline-block;
        position: absolute;
        left: 105%;/*変更？*/
    }

    #news article .date{
        width: 10vw;
        height: 10vw;
    }

    #news article .date .text01 {
        font-size: 3rem;
    }

    #news article .date .text02 {
        font-size: 2rem;
    }
    #news article .date::after {
        bottom: 45%;
    }

    #news article h3 {
        font-size: 2.5rem;
    }

    #news section h3 {
        font-size: 2.5rem;
        padding-bottom: 3%;
        border-bottom: #00bbdd solid 2px;
        margin-bottom: 3%;
    }

    #news section li a,
    #news section p {
        padding: 0 3%;
        font-size: 1.5rem;
    }


    #news section li {
        padding: 3% 0;
        border-bottom: #d0d0d0 solid 1px;
    }

    #news article p {
        font-size: 1.5rem;
    }

    /* menu */ 
    #menu header {
        background: url(img/menu-bg.jpg) top center / cover no-repeat;
    }

    #menu header p {
        padding: 0 25% 10%;
        font-size: 2rem;
        text-align: left;
    }

    #menu main ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #menu main li {
        width: 30%;

    }

    #menu main li p {
        font-size: 1.5rem;    
    }

    #menu main {
        padding-bottom: 0;
    }

    /* contact */

    #contact {
        background-position: left 0 top 0;
    }

    #contact main {
        padding: 0;
    }

    #contact .wrap {
        padding: 5% 10%;
    }

    #contact .form-wrap {
        padding-top: 0;
    }

    #contact form button {
        width: 15%;
        padding: 2% 0%;
        
        
    }

    #contact .location {
        padding: 5% 10%;
        display: flex;
        justify-content: space-between;

    }

    #contact .location .left {
        width: 30%;
    }

    #contact .location aside {
        width: 65%;
    }

    #contact section  {
        padding: 5% 0;
    }

    #contact h3 {
        font-size: 2.5rem;
    }

    #contact form dd {
        width: 30%;
    }

    #contact form dd:last-of-type {
        width: 50%;
    }

    #contact .sns-wrapper {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #contact .sns-inner {
        display: flex;
        justify-content: space-between;
    }

    #contact .sns-inner section {
        width: 30%;
        margin-bottom: 0;
        padding: 0;
    }


}